*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(10, 300px);
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
    scrollbar-width: none;
}
.sunshine{
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}
.card-name{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    scrollbar-width: none;
}