*{
    margin: 0;
    padding: 0;
}
.mainDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 4rem;
    /* height: 100px; */
    width: 100%;
    background-color: #63b5d690;
}
.mainDiv h6{
    font-weight: 800;
    position: relative;
    right: 35px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #5991b1fa;
    padding: 1rem;
}
.footer h6{
  position: relative;
  left: 2rem;
  color: black;
}
.footer ul li{
    list-style: none;
    color: black;
}

.footer a{
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
    color: black;
}

