*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.heartPage{
    display: flex;
    justify-content: center;
}
.heartCard{
    background-color: gray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dis{
    width: 50%;
}