*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.secNav{
    width: 100%;
    /* background-color: #fff; */
    border-bottom: 1px solid #e0e0e0;
    background-color: #14b7f890;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.secNav-logo__image{
    /* width: 50px; */
    height: 50px;
    /* margin-left: 20px; */
}
.secNav__container2{
    display: flex;
    align-items: center;
    gap:2rem
    
}
.secNav__container{
    display: flex;
    /* align-items: center; */
    gap: 2rem;
}
.secNav__container span{
  text-decoration: none;
}
.secNav__container__cart{
    display: flex;
    /* align-items: center; */
    gap: 1rem;
}
.secNav__container__cart span{
   background-color: black;
    color: white;
    border-radius: 50%;
    font-size: 24px;
    padding: 0px 10px 0px 10px;
}

.secNav__container__search input{
    outline: none;
    border-radius: 5px 0px 0px 5px;
    border: none;
    padding: 5px 0px 5px 16px;
}
.secNav__container__search button{
    outline: none;
    border: none;
    background-color: #14b7f8;
    color: white;
    padding: 5px 10px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}